.maindiv {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 50px;
    height: 100vh;
    background-color: black;



}

.sm {
    padding: 10px;

}

.form {
    background-color: rgb(255, 183, 110);
    height: 25rem;
    width: 20rem;
    padding-top: 60px;
    box-shadow: 2px;
    box-shadow: 20px 10px 60px rgba(100, 0, 0, 1);
    overflow: hidden;
}

.btn {
    background-color: black;
    color: white;
    width: 7rem;
    height: 2rem;
}